@model IEnumerable<Project.Models.users>
<style>
    body {
        background-image: url(../../Images/bricks.jpg);
        background-size: cover;
    }

    p {
        position: absolute;
        top: 5px;
        right: 25px;
        font-size: 30px;
    }

    div {
        text-align: center;
    }

    h2 {
        font-size: 45px;
        background-color: rgba(255,255,255,.2);
    }

    table {
        padding-left: 25%;
        text-align: center;
        padding-top: 8%;
        font-size: 30px;
        background-color: rgba(255,255,255,.2);
    }

    th {
        padding-right: 45px;
    }
</style>

@{
    Layout = null;
}
<div>
    <h2>Teacher's Student List</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th></th>
        </tr>



        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.UserID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.UserID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.UserID })
                </td>
            </tr>
        }

    </table>
</div>