@model Project.ViewModels.WelcomeViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reggies Wonderful Adventure</title>
    <style>
        body {
            background-image: url('../../Images/BestWondersWithBoarder.jpeg');
            background-size: cover;
        }
        h1 {
            font-family: Calibri;
            font-size: xx-large;
            font-weight: bold;
            color: forestgreen;
            text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
        }
    </style>
</head>
<body>
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
    <div class="form-horizontal">
        <center><h1>Good Job, you logged in as a Student</h1></center>
        <br />
        <br />
        <div class="form-group">
                <h1>@Html.Label("First, find your name from the list:")</h1>
                @Html.DropDownListFor(model => model.Choice, new SelectList(Model.kids, "UserID", "FirstName"), new { @class = "form-control" })
        </div>
        <h1>Now type your nickname:</h1>
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>
      
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <br />
                <input type="submit" value="Start Game" class="btn btn-default" />
            </div>
        </div>
    </div>
    }
    <div>
        @Html.ActionLink("Go Back to List", "Index", "users")
    </div>
</body>
</html>
